body{
  background-color: #d9bdbd;
  padding : 15px;
}
h1 {
  font-family : "Arial";
  border-style: ridge;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2 {
  font-family : "Lucida Sans Unicode";
}

p {
  font-family :  "Lucida Sans Unicode";
  font-size : 100%;
}
.idk {
  border-style : solid;
  border:blue;
  font-size: 150%;
  color: black;
  background-color: #8ABAD3FF;
}

.active{
  background-color: #8aa7d3
}

a {
  text-decoration : none;
  font-family : Arial, Helvetica, sans-serif;
  color : white;
}
